@import url("variables.css");
body{
    width: 100vw;
}

header{
    position: relative;
    background: url("../Assets/YoucodeHero.jpg") no-repeat fixed center / cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
header::after{
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(60vw 20vh at 50% 65%, rgba(3, 3, 3, 0.815),transparent 60% ) ;

}

h1{
    position: relative;
    margin-bottom: 20vh;
    font-size: 10vw;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 95px;
    padding: 0px 9vw;
    box-shadow: inset 5px 5px 20px white;
}
h1 > span{
    color: var(--primary);
}
header > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header > div > h2{
    font-size: 2vw;
    z-index: 2;
}
header > div > p{
    z-index: 2;
    font-size: 1.3vw;
    width: 50vw;
    text-align: center;
}
#headerActionsContainer
{
    position: relative;
    bottom: -15vh;
    flex-direction: row;
    gap: 3vw;
    z-index: 2;
    
}
#SeeEventsBtn
{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.initials
{
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    color: var(--text-color1);
    box-shadow: inset 2px 2px 10px  white;
    border-radius: 50%;
    background-color: var(--primary) ;
    color: var(--text-color1);
    font-weight: bold;
    font-size: 1.2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    margin-left: -5px;
    
}
#initialsComment
{
    width: 200px;
    position: absolute;
    bottom: 10px;
    left: 1vw;
    flex-direction: column;

    

}
#initialsComment > small{
    display: inline-block;
    font-size: 5px;
    width: 150px;
    background-color: black;
    border-radius: 10px;
    padding: 5px 10px;
}
#initialsContainer{
    
    display: flex;
}

#statistics{
    width: 100vw;
    height: fit-content;
    background-color: var(--bg-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;

}
.statCard{
    background-color: rgba(1, 1, 1, 0.158);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    gap: 1vw;
    padding: 10px 20px;
    border-radius: var(--raduce2);
}
.statIcon  {
    color: #034BFF;
    font-weight: bold;
    font-size: large;
}
.statValue{
    color: var(--text-color-darck1);
    font-weight: bolder;
    font-size: 20px;
}
.StatTitle{
    color: var(--text-color-darck2);
}

@media screen and (max-width: 800px) {

   
    #initialsComment {
      display: none;
        
    }
}