@import url("variables.css");


body{
    min-height: max-content;
}
nav > ul > li> a{
    text-decoration: none;
    color: var( --text-color-darck1);
    font-size: var(--text-size1);

    
}
#navActions{
    display: flex;
    flex-direction:row ;
    align-items: center;
    gap: 2vw;
    width: 15vw;

}
#searchBtn {
    color: var(--text-color-darck1);
    border: var(--text-color-darck1) solid 1px;
    font-weight: bolder;
    font-size: .3vw;
}
#JoinUsBtn{
    box-shadow: inset 1px 1px 7px var(--text-color1);
    border-top: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
}

#mainHeader{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100vw;
    height: 10vmin;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom-left-radius: var(--raduce2);
    border-bottom-right-radius: var(--raduce2);
    position: fixed;
}
h1{
    color: var(--primary);
    padding-left: 10px;
    font-size: 3vmax;
    
}
h1 > span{
    color: var(--text-color1);
}
nav{
    width: 70%;
    height: auto;
    padding: 10px;
}
nav > ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 1vw;
    
}
.navItem {
    list-style: none;
    background: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: var(--raduce2);
    padding: 5px 1vw;
    cursor:pointer;
    font-weight:bold;
    border:solid rgba(255, 255, 255, 0.141) .5px ;
    box-shadow: inset 2px 2px 10px  var(--primary);

    
    
}
ul > :hover{
    opacity: 1;
    background: var(--primary-soft);
    border: solid var(--primary) .5px;
    color: var(--primary);

    animation-name: navbounce;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: initial;
    animation-direction:normal;
    animation-fill-mode: both;

}

@keyframes navbounce
{
    0% { transform:translateY(0)}
    100%{ transform: translateY(-20px);}
}

#displayNav{
    display: none;
}
main{
    width: 100vw;
    height: 100vh;
}
iframe{
    height: 100%;
}
@media screen and (max-width: 1030px){
    #displayNav{
        display: block;
    }
    .navItem{
        width: 30vw;
        text-align: center;
        background-color: var(--primary-soft);
        
    }
    nav > ul{
        height: fit-content;
        width: fit-content;
        position: absolute;
        flex-direction: column;
        align-items: center;
        background-color: rgba(7, 7, 7, 0.836);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid var(--primary);
        border-radius: var(--raduce2);
        z-index: 10;
        top: 12vmin;
    }
    nav > ul > li > a{
        color: var(--text-color1);
    }
    nav{
        position: relative;
        display: flex;
        justify-content: center;    
        
    }
    #navActions{
        width: 30%;
        justify-content: end;
        padding-right: 2%;
    }
}
